

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App{
  align-content: center;
  align-items: center;

}
.topbar
{
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  box-shadow: 0 0 5px ;
  color:white;
  background: linear-gradient(black,gray,#dfe4ea,white);
}
.row{
  display: flex;
  padding:20px ;
  flex-wrap: wrap;
}
.each{
  width:20%;
  height: 150px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
}
.innereach{
  border-radius: 20px;
  width:95%;
  height: 150px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px;
}
.downpart{
  align-items: center;
  margin: auto;
  padding: 5%;
}
.downheading{
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color:black;
  border-bottom: 2px solid black;
}

.downcenter{
  padding-top: 40px;
  margin:auto;
  width: 60%;
}
.flexpart{

  display:flex;
  align-items:center;
  justify-content:space-around;
}

.downsingle{
  width:33%;
    cursor: pointer;

}

@media only screen and (max-width: 1068px) {
  .each{
    width: 33%;
  }.flexpart{

    display:flex;
    flex-direction: column;
    align-items:center;
  }
.downsingle{
    margin: auto;
    width: 80%;
}

}
@media only screen and (max-width: 768px) {
  .each{
    width: 50%;
  }
  .downsingle{
    width: 90%;
    margin: auto;
  }

}
